ul.slick-dots li {
  width: 25%;
  height: 30px;
  display: block;
  position: static;
  margin: 0;
}
ul.slick-dots {
  top: 100%;
  height: auto;
  display: flex !important;
  justify-content: center;
}
